@use '~/styles/variables' as *;


.Projects {
    padding: var(--sp-2);
    display: grid;
    gap: var(--sp-3);
    margin-bottom: var(--sp-5);
    grid-template-columns: 1fr;
    
    @include media-xs {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-md {
        grid-template-columns: repeat(3, 1fr);
    }
}


.Project {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    background: var(--light-clr);
    
    .title {
        text-align: center;
    }

    .technologies {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    
    .actions {
        display: flex;
        justify-content: center;
        
        a {
            color: var(--primary-clr);
            padding: var(--sp-1);
        }
    }

    .body {
        padding: var(--sp-2);
        border-radius: var(--border-radius);
        margin-top: -30px;
        z-index: 100;
        background: var(--light-clr);
    }
}
