@use '~/styles/variables' as *;


.Projects {
    .list {
        padding: var(--sp-2);
        display: grid;
        gap: var(--sp-3);
        margin-bottom: var(--sp-5);
        grid-template-columns: 1fr;

        @include media-sm {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-lg {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


.ProjectItem {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;

    .title {
        text-align: center;
    }

    .technologies {
        padding: var(--sp-1) var(--sp-2);
        background: var(--light-clr);
        z-index: 101;
    }

    .links {
        display: flex;
        justify-content: center;
        font-size: var(--font-size-md);

        a {
            display: flex;
            align-items: center;
            color: var(--primary-clr);
            padding: var(--sp-1);
        }
    }

    .content {
        padding: var(--sp-2);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        margin-top: -30px;
        z-index: 100;
        background: var(--light-clr);
        box-shadow: var(--box-shadow);
    }

    .body {
        padding: var(--sp-2);
        background: var(--light-clr);
        height: 100%;
    }

    .images {
        * {
            width: 100% !important;
        }
    }
}