@use '~/styles/variables' as *;


.container {
    width: var(--left-side-width);
    margin-left: calc(var(--left-side-width) * -1);
    transition: 200ms;
    z-index: 1000;

    @include media-md {
        margin-left: 0;
    }

    &__show {
        margin-left: 0;
    }
}

.LeftSide {
    position: fixed;
    width: var(--left-side-width);
    height: 100vh;
    display: flex;
    background-color: var(--left-side-bg);
    color: var(--light-clr);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.Logo {
    margin: var(--sp-4) var(--sp-1);
    position: relative;
    padding: var(--sp-4);
    font-size: var(--font-size-xl);


    &::after {
        top: 10px;
        left: 10px;
        right: 0;
        bottom: 0;
    }

    &::before {
        top: 0;
        left: 0;
        right: 10px;
        bottom: 10px;
    }

    &::after,
    &::before {
        position: absolute;
        content: "";
        border: 1px solid;
    }
}

.NavLinks {
    margin-bottom: auto;

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        list-style: none;
        margin: var(--sp-1) 0;
        transition: 200ms color;

        &:hover {
            color: var(--light-hover-clr);
        }
    }

    a {
        text-transform: uppercase;
        font-size: var(--font-size-lg);
    }
}

.Footer {
    margin: var(--sp-2);
}

.ChangeLanguage {
    select {
        padding: 0.5rem;
        background: var(--light-clr);
    }
}

.ToggleButton {
    position: absolute;
    display: flex;
    right: 0;
    background-color: var(--left-side-bg);
    transition: 200ms;
    align-items: center;
    transform: translateX(100%);
    width: 100vw;
    height: 64px;
    
    .button {
        padding: 0 var(--sp-3);
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--light-clr);
        font-size: var(--font-size-xl);
    }

    .logo {
        padding: 0 var(--sp-3);
        margin-left: var(--sp-5);
    }

    @include media-md {
        display: none;
    }

    &__show {
        transform: translateX(0);
        background-color: transparent;
        width: auto;

        .logo {
            display: none;
        }
    }
}
