

.list {
    padding: var(--sp-3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--sp-6);
}


.ProjectItem {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-clr);
    
    .title {
        padding: var(--sp-1);
        margin-bottom: var(--sp-2);
    }

    .technologies {
        position: absolute;
        top: 0;
    }
    
    .actions {
        padding: var(--sp-1);
        display: flex;
        
        a {
            color: var(--primary-clr);
            padding: var(--sp-1);
        }
    }
}
