

.ProjectsList {
    padding: var(--sp-2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-3);
}


.ProjectItem {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px;
    border-radius: 2rem;
    overflow: hidden;
    
    .title {
        text-align: center;
    }

    .technologies {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    
    .actions {
        display: flex;
        justify-content: center;
        
        a {
            color: var(--primary-clr);
            padding: var(--sp-1);
        }
    }

    .body {
        padding: var(--sp-2);
        border-radius: 2rem;
        margin-top: -30px;
        z-index: 100;
        background: var(--light-clr);
    }
}
