.Main {
  --aside-width: 320px;
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 1.25rem;

  > main,
  > aside {
    padding: 4.5rem 0;
  }

  > aside {
    flex: 1 0 var(--aside-width);
    margin-right: 0.75rem;

    > div {
      width: var(--aside-width);
      position: fixed;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      justify-content: space-between;
      height: calc(100vh - 9rem);
    }
  }
}
