
.AboutTitle {
     color: var(--primary-clr);
     white-space: pre-wrap;
     line-height: 0.8;
     
     h1 {
          font-size: var(--font-size-xl);
     }

     h3 {
          font-size: var(--font-size-md);
     }
}
