.Navigation {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  li {
    list-style: none;
  }

  a {
    display: flex;
    margin: 0 0.75rem;
    text-transform: uppercase;

    > div {
      transition: all 250ms;
      border-bottom: 1px solid;
      transform: translateY(-50%);
    }
  }

  a:hover,
  a.active {
    color: var(--text-clr);
  }

  .arrows {
    margin: 0 0.5rem;
  }

  .topLinks {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--primary-dark-clr);
    border-radius: 9999px;
    padding: 0.5rem;
    background: var(--bg-clr);
    font-size: 0.5rem;

    ul {
      flex-direction: row;
      gap: 2px;
    }
  }
}
