
.Navigation {
     ul {
          display: flex;
          flex-direction: column;
          gap: var(--sp-2);
     }

     li {
          list-style: none;

     }

     a {
          display: flex;
          margin: 0 var(--sp-2);
          transition: all 250ms;
          text-transform: uppercase;
     }

     a:hover, a.active {
          color: var(--text-clr);
          transform: translateX(10px);
     }

     .arrows {
          margin: 0 var(--sp-1);
     }

     .dropdown {
          position: fixed;
          top: 0;
          left: 0;

          ul {
               padding: var(--sp-2);
               background-color: var(--bg-clr);
               box-shadow: 2px 2px 5px 0px black;
          }
     }

     .toggle {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--primary-clr);
          width: 48px;
          height: 48px;
     }
}
