@use '~/styles/variables' as *;


.About {
     display: flex;
     flex-direction: column;
     min-height: 100dvh;
     min-height: 100vh;
     position: relative;

     .image {
          aspect-ratio: 1/1;
          width: 100%;
          height: auto;
          max-width: 240px;
          align-self: flex-end;
          @include media-xs {
               max-width: 320px;
          }
     }

     .text, .image {
          border: 1px solid var(--light-clr);
          padding: var(--sp-2);
          background-color: var(--container-bg);
          margin: var(--sp-2);
     }

     .down {
          display: flex;
          justify-content: center;
          margin-top: auto;
          margin-bottom: 1rem;

          a {
               font-size: 2rem;
               background-color: var(--container-bg);
               color: var(--primary-clr);
               padding: var(--sp-1);
               border: none;
               border-radius: 10%;
               cursor: pointer;
               text-decoration: none;
          }
     }
}
