

.About {
     display: flex;
     flex-direction: column;
     min-height: 100vh;

     .image {
          align-self: flex-end;
          max-width: 320px;
          max-height: 320px;
          border: 1px solid var(--light-clr);
          padding: var(--sp-3);
          background-color: var(--container-bg);
          width: 100%;
          margin: var(--sp-2) var(--sp-5);
     }

     .text {
          border: 1px solid var(--light-clr);
          padding: var(--sp-3);
          background-color: var(--container-bg);
          margin: var(--sp-2) var(--sp-5);
     }
}
