@use '~/styles/variables' as *;


.About {
     display: flex;
     flex-direction: column;
     min-height: 100vh;

     .image {
          border: 1px solid var(--light-clr);
          padding: var(--sp-3);
          background-color: var(--container-bg);
          margin: var(--sp-2) var(--sp-5);
          
          @include media-xs {
               max-width: 320px;
               max-height: 320px;
               align-self: flex-end;
               width: 100%;
          }
     }

     .text {
          border: 1px solid var(--light-clr);
          padding: var(--sp-3);
          background-color: var(--container-bg);
          margin: var(--sp-2) var(--sp-5);
     }

     .down {
          position: absolute;
          bottom: 5%;
          right: 50%;
          background-color: var(--container-bg);
          color: var(--primary-clr);
          padding: var(--sp-1);
          border: none;
          font-size: 2rem;
          border-radius: 10%;
          cursor: pointer;
          text-decoration: none;
      }
}
