
.Footer {
     .localeButtons {
          display: flex;
          justify-content: center;
          margin: var(--sp-2) 0;
          gap: var(--sp-2);

          button {
               padding: var(--sp-1);
               background: none;
               border: 1px solid var(--primary-clr);
               color: var(--text-clr);
               cursor: pointer;
          }
          button.active {
               box-shadow: 0 0 5px 5px  var(--primary-clr);
          }
     }
}
