.Contacts {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  height: 100dvh;
  height: 100vh;
  align-items: center;
  justify-content: center;

  & > * {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 0.75rem;
    resize: none;
    padding: 0.5rem;
    border: 1px solid var(--dark-clr);
    border-radius: 0.2rem;

    &:disabled {
      background: grey;
      cursor: not-allowed;
    }
  }

  button {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background: var(--primary-clr);
    color: var(--light-clr);
    transition: 200ms;

    &:hover {
      background: var(--primary-dark-clr);
    }

    &:disabled {
      background: grey;
      color: var(--light-clr);
      cursor: not-allowed;
    }
  }

  .status {
    font-size: 1.4rem;
    padding-bottom: 0.75rem;
    font-weight: 600;
    text-align: center;

    &.success {
      color: forestgreen;
    }

    &.error {
      color: crimson;
    }
  }
}
