

.Technologies {
     .list {
          display: grid;
          padding: var(--sp-2);
          gap: var(--sp-3);
          grid-template-columns: var(--technologies-cols);
     }
}

.Technology {
     display: flex;
     flex-direction: column;
     box-shadow: var(--box-shadow);
     border-radius: var(--border-radius);
     overflow: hidden;
     background: var(--light-clr);
     width: 100%;

     .image {
          padding: var(--sp-1);

          img {
               width: 100%;
               height: 200px;
               object-fit: contain;
          }
     }

     .body {
          flex-grow: 1;
          padding: var(--sp-2);
     }
}

.linkWrapper {
     display: flex;
}