     .Contacts {
          background-color: var(--container-bg);
          border: 1px solid var(--light-clr);
          padding: var(--sp-2);
          width: 100%;
          
          .form {
               display: flex;
               flex-direction: column;
          }
     
          input,
          textarea {
               width: 100%;
               margin-bottom: var(--sp-2);
               resize: none;
               padding: var(--sp-1);
               border: 1px solid var(--dark-clr);
               border-radius: 0.2rem;
          }
     
          button {
               padding: var(--sp-1);
               border: none;
               cursor: pointer;
               background: var(--primary-clr);
               color: var(--light-clr);
               transition: 200ms;
     
               &:hover {
                    background: var(--primary-dark-clr)
               }
          }
     
          .status {
               font-size: var(--font-size-lg);
               padding-bottom: var(--sp-2);
               font-weight: 600;
               text-align: center;
     
               &.success {
                    color: forestgreen;
               }
     
               &.error {
                    color: crimson;
               }
          }
     }
