// @use '@/styles/properties' as *;

.Technologies {
  margin-bottom: 4.5rem;

  .list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

.Technology {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid transparent;

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.24);
  }

  .image {
    flex: 1 0 0;

    img {
      aspect-ratio: 1/1;
      width: 100%;
      height: auto;
    }
  }

  .content {
    flex: 3 0 0;
    color: var(--text-clr);
  }
}

.linkWrapper {
  display: flex;
}
