// @use '@/styles/properties' as *;

.Projects {
  margin: var(--sp-6) 0;

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--sp-3);
  }
}

.ProjectItem {
  display: flex;
  padding: var(--sp-1);
  transition: 100ms;

  .left {
    flex: 1 0 0;
  }

  .right {
    flex: 3 0 0;
  }

  .image {
    display: block;
    margin-bottom: var(--sp-2);
    margin-right: var(--sp-2);

    img {
      box-shadow: 0px 0px 5px 2px var(--primary-clr);
      align-self: flex-start;
      aspect-ratio: 16/9;
      width: 100%;
      height: auto;
    }
  }

  .body {
    margin-bottom: var(--sp-2);
  }

  .links {
    display: flex;
    gap: var(--sp-2);
    margin-bottom: var(--sp-1);
    flex-direction: row;
    padding: 0 var(--sp-2) 0 0;

    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      transition: transform 250ms;
    }

    a:hover {
      transform: scale(1.1);
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-1);

    span {
      font-size: var(--font-size-sm);
      outline: 2px solid var(--primary-clr);
      padding: var(--sp-1);
      border-radius: 9999px;
    }
  }

  @media screen and (max-width: 480px) {
    & {
      flex-direction: column;

      .left {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
