@import './reset.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Montserrat,
    -apple-system,
    Ubuntu,
    Helvetica,
    sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

:focus {
  outline: 2px solid var(--primary-clr);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-clr);
}

.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}

.title-md {
  font-size: var(--font-size-md);
  line-height: 0.8;
  margin-bottom: var(--sp-2);
}

.title-lg {
  font-size: var(--font-size-lg);
  line-height: 0.8;
  margin-bottom: var(--sp-3);
  text-transform: uppercase;
}

.title-lg {
  font-size: var(--font-size-xl);
  margin-bottom: var(--sp-3);
  text-transform: uppercase;
}
