*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 
        Montserrat, 
        -apple-system,
        Ubuntu,
        Helvetica,
        sans-serif;
    font-size: var(--font-size);
}

:focus {
    outline: 2px solid var(--primary-clr);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.title {
    color: var(--primary-clr);
    text-transform: uppercase;
    margin: var(--sp-2) var(--sp-3);
}

h1.title {
    font-size: var(--font-size-xl);
}

h2.title {
    font-size: var(--font-size-xl);
}

h3.title {
    font-size: var(--font-size-md);
}

.parallax {
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}