*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 
        Montserrat, 
        -apple-system,
        Ubuntu,
        Helvetica,
        sans-serif;
    font-size: var(--font-size);
}

:focus {
    outline: 2px solid var(--primary-clr);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: var(--font-size-lg);
    color: var(--primary-clr);
    text-transform: uppercase;
}

h1.title {
    font-size: var(--font-size-xl);
    margin: var(--sp-3) var(--sp-4);
}

.background {
    background-color: white;
    min-height: 100vh;
    padding: 1px;
}
