:root {
    --sp-1: 0.7rem;
    --sp-2: 1rem;
    --sp-3: 1.7rem;
    --sp-4: 3rem;
    --sp-5: 4rem;
    --sp-6: 6rem;

    --font-size: 1rem;
    --font-size-lg: 1.2rem;
    --font-size-xl: 2rem;

    --primary-clr: #069;
    --secondary-clr: #e74c3c;
    --light-clr: #fff;
    --light-hover-clr: #c0c0c0;
    --dark-clr: #474748;
    --dark-hover-clr: #c0c0c0;

    --left-side-width: 320px;
}