

:root {
    --sp-1: calc(var(--sp-2) * 0.6);
    --sp-2: 0.7rem;
    --sp-3: calc(var(--sp-2) * 1.7);
    --sp-4: calc(var(--sp-2) * 3);
    --sp-5: calc(var(--sp-2) * 4);
    --sp-6: calc(var(--sp-2) * 6);

    --container-width: 100%;

    --projects-cols: 1fr;
    --technologies-cols: 1fr;

    --font-size: 0.8rem;
    --font-size-sm: calc(var(--font-size) * 0.7);
    --font-size-md: calc(var(--font-size) * 1.4);
    --font-size-lg: calc(var(--font-size) * 1.8);
    --font-size-xl: calc(var(--font-size) * 2.4);

    --primary-clr: #00476b;
    --primary-dark-clr: #00334d;
    --bg-clr: #0f172a;
    --text-clr: #e2e8f0;
    --link-clr: #04c2c9;

    --light-clr: #f7f7f7;
    --light-hover-clr: #c0c0c0;
    --dark-clr: #474748;
    --dark-hover-clr: #c0c0c0;

    --border-radius: 2rem;
    --box-shadow: 0 0 5px 0px;
}

.hide-lg { display: none; }
.show-lg { display: block; }

.hide-sm { display: none; }
.show-sm { display: block; }

@media screen and (min-width: 480px) {
    :root {
        --technologies-cols: repeat(2, 1fr);
    }

    .hide-sm { display: block; }
    .show-sm { display: none; }
}

@media screen and (min-width: 768px) {
    :root {
        --sp-2: 1rem;
        --font-size: 1rem;
        --projects-cols: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --container-width: 1024px;
        --technologies-cols: repeat(3, 1fr);
    }

    .hide-lg { display: block; }
    .show-lg { display: none; }
}

@media screen and (min-width: 1440px) {
    :root {
        --projects-cols: repeat(3, 1fr);
        --technologies-cols: repeat(4, 1fr);
    }
}