@use './variables.scss' as *;


:root {
    --sp-1: calc(var(--sp-2) * 0.7);
    --sp-2: 0.7rem;
    --sp-3: calc(var(--sp-2) * 1.7);
    --sp-4: calc(var(--sp-2) * 3);
    --sp-5: calc(var(--sp-2) * 4);
    --sp-6: calc(var(--sp-2) * 6);

    --font-size: 1rem;
    --font-size-lg: calc(var(--font-size) * 1.2);
    --font-size-xl: calc(var(--font-size) * 2);

    --container-bg: rgba(255,255,255, 0.8);
    --left-side-bg: rgba(0, 0, 0, 0.5);

    --primary-clr: rgb(0, 73, 109);
    --secondary-clr: #e74c3c;
    --light-clr: #f7f7f7;
    --light-hover-clr: #c0c0c0;
    --dark-clr: #474748;
    --dark-hover-clr: #c0c0c0;

    --border-radius: 2rem;
    --box-shadow: 0 0 5px;

    --left-side-width: 320px;
}

@include media-sm {
    :root {
        --sp-2: 1rem;
    }
}

