
$xs: 480px;
$sm: 720px;
$md: 1080px;
$lg: 1780px;
$xl: 1920px;


@mixin media-xs () {
    @media screen and (min-width: $xs) { @content; }
}

@mixin media-sm () {
    @media screen and (min-width: $sm) { @content; }
}

@mixin media-md () {
    @media screen and (min-width: $md) { @content; }
}

@mixin media-lg () {
    @media screen and (min-width: $lg) { @content; }
}

@mixin media-xl () {
    @media screen and (min-width: $xl) { @content; }
}


